*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display:flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-flow: row wrap;
	background-image: url("./img/paper.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	position: relative;
	width: 100%;
	max-width: 800px;
	padding: 50px;
	margin: 50px auto;
}

.addTask{
	width: 100%;
	display: flex;
	padding: 70px 0;
}

.addTask > input[type="text"] {
	width: 90%;
	color: #222;
	border:none;
	border-bottom: 2px solid #888;
	background: none;
	padding: 7px;
	font-size: 25px;
	font-weight: bold;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

.addTask button {
	margin: 0 5px;
	background: none;
	color: #222;
	font-size: 18px;
	text-transform: uppercase;
	padding: 5px;
	border: 3px solid #666;
	outline: none;
	border-radius: 7px;
	cursor: pointer;
}
.notCompleted, .Completed {
	margin: 5px 0;
	padding: 50px;
}

h3 {
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
    color: rgb(130, 130, 130);
    font-family: 'Courier New', Courier, monospace;
}

i.fas {
	color:  rgb(130, 130, 130);
	font-size: 20px;
}

ol {
	list-style: none;
	counter-reset: my-counter;
}

ol li {
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #faafd480;
	font-size: 22px;
    counter-increment: my-counter;
    border-radius: 10px;
	font: 700 25px/1.2 'Caveat', cursive, sans-serif;
	letter-spacing: 0.3em;
  	color: #454545;
}

ol.Completed li {
	background: #c5efb993;
}

ol li::before {
	content: counter(my-counter);
	background:none;
	width: 1.8rem;
	height: 1.8rem;
	border: 3px solid #666;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color:#666;
	margin-right: 1rem;
}

li button {
	float: right;
	padding: 5px;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

#plant {
	vertical-align: bottom;
	margin: auto;
	
}

@media screen and (max-width: 800px) {
	.container {padding: 0px}
	.addTask {margin-top: 20px;padding: 20px}
	.notCompleted, .Completed {padding: 20px}
}

@media screen and (max-width: 500px) {
	img#plant {width: 100%}
}