*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display:flex;
	justify-content: space-around;
	flex-flow: row wrap;
	height: 100vh;
	background: beige;
	background: linear-gradient(139deg,#377e72cb 0%,#664f5bb6 90%);
}
.container{
	position: relative;
	width: 100%;
	max-width: 800px;
	padding: 50px;
	margin: 50px auto;
}
.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}
.addTask button{
	margin: 0 10px;
	background: #222;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 20px;
}
h3{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
    color: rgb(176, 182, 197);
    font-family: 'Courier New', Courier, monospace;
}
ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #810b0bbb;
	font-size: 22px;
    counter-increment: my-counter;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}
ol.Completed li{
	background: green;
}
ol li::before{
	content: counter(my-counter);
	background:darkgray;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
}
li button{
	float: right;
	padding: 5px;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

#plant{
	align-self: center;
	vertical-align: bottom;
	margin: auto;
	
}